# ardiuno tuer rules
#
# copy this to /etc/udev/rules.d/ and change serial number to your needs

SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{serial}=="A6008ifG", SYMLINK+="door", OWNER="tuer", GROUP="nogroup"
