[Unit]
Description=Arduino Sensors Bridge

[Service]
Nice=19
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/pi/bin/
ExecStart=/home/pi/bin/arduinosensors.py
SyslogIdentifier=arduinosensors


[Install]
WantedBy=default.target
