[Unit]
Description=r3events meta event maker

[Service]
#Nice=10
Wants=network.target
Wants=mosquitto.service
After=mosquitto.service
OnFailure=xmppnotifyxro@backdoorcx_sensor_node.service

Type=simple
Restart=always
WorkingDirectory=/home/realraum
ExecStart=/home/realraum/bin/backdoorcx_sensor_node --debug
SyslogIdentifier=%i

[Install]
WantedBy=multi-user.target
