[Unit]
Description=r3events meta event maker
#Nice=10
Wants=network.target
Wants=mosquitto.service
After=mosquitto.service
OnFailure=xmppnotifyxro@r3-metaevt-maker.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/realraum
EnvironmentFile=/home/realraum/.config/realraum/smsgw.env
#ExecStart=/home/realraum/bin/r3-metaevt-maker --debug
ExecStart=/home/realraum/bin/r3-metaevt-maker

[Install]
WantedBy=default.target
