[Unit]
Description=SpaceApi Publisher
Wants=network.target
Wants=mosquitto.service
After=mosquitto.service r3-metaevt-maker.service
OnFailure=xmppnotifyxro@r3-spaceapistatus.service

[Service]
#Nice=10
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=/home/realraum
EnvironmentFile=/home/realraum/.config/realraum/smsgw.env
#ExecStart=/home/realraum/bin/r3-spaceapistatus --debug
ExecStart=/home/realraum/bin/r3-spaceapistatus

[Install]
WantedBy=default.target
