[Unit]
Description=r3 XMPP Bot realrauminfo
Wants=network.target
Wants=mosquitto.service
After=mosquitto.service r3-metaevt-maker.service
OnFailure=xmppnotifyxro@r3-xmppbot.service

[Service]
#Nice=10
Type=simple
Restart=always
WorkingDirectory=/home/realraum
EnvironmentFile=/home/realraum/.config/realraum/smsgw.env
ExecStart=/home/realraum/bin/r3-xmppbot --debug

[Install]
WantedBy=multi-user.target
