[Unit]
Description=Xbee Sensors Bridge
Wants=network.target
Wants=mosquitto.service
OnFailure=xmppnotifyxro@xbeesensors.service

[Service]
Nice=19
Type=simple
Restart=always
WorkingDirectory=/home/realraum
EnvironmentFile=/home/realraum/.config/realraum/smsgw.env
ExecStart=/home/realraum/bin/xbeesensors.py
SyslogIdentifier=%i


[Install]
WantedBy=default.target
