[Unit]
Description=Xbde Sensors Bridge
Wants=network.target
Wants=mosquitto.service

[Service]
Nice=19
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/realraum
EnvironmentFile=/home/realraum/.config/realraum/smsgw.env
ExecStart=/home/realraum/bin/xbeesensors.py
SyslogIdentifier=%i


[Install]
WantedBy=default.target
