[Unit]
Description=Notify Xro via XMPP about %i
Wants=network.target
Wants=multi-user.target
RefuseManualStart=true
RefuseManualStop=true
ConditionFileIsExecutable=/home/realraum/bin/xmpp_notify_xro.py
 
[Service]
Type=oneshot
#ExecStart=/bin/sh -c "/usr/bin/systemctl --user status -n70 %i | /home/realraum/bin/xmpp_notify_xro.py %i"
ExecStart=/bin/sh -c "/usr/bin/systemctl --user status -n20 %i | /home/realraum/bin/xmpp_notify_xro.py %i"
ExecStart=/bin/sh -c "/usr/bin/journalctl --user -n70 -e | /home/realraum/bin/xmpp_notify_xro.py %i"

[Install]
WantedBy=default.target
